---
import { getCollection } from "astro:content";

import { ArrowRight } from "lucide-astro";

import BaseLayout from "@/layouts/base-layout.astro";

import Header from "@/components/header.astro";
import Link from "@/components/link.astro";
import ReleaseContent from "@/components/release-content.astro";

let releases = await getCollection("changelog");
releases.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

let previous = releases[1];

const rightNow = new Date();
---

<BaseLayout
  meta={{
    kind: "route",
    title: "Changelog",
    description: "All the updates I've made to my website, organized as a series of patch notes.",
  }}
>
  <Header />

  <main class="space-y-10 pb-8 pt-2.5">
    <section class="space-y-2.5">
      <div class="flex w-full justify-between bg-sweater-4 px-1 uppercase text-sweater-7">
        <p>Page / [Root]</p>
        <p>
          Last updated {
            rightNow.toLocaleDateString("en-US", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })
          }
        </p>
        <p>
          {
            rightNow.toLocaleTimeString("en-US", {
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit",
              timeZone: "America/New_York",
              timeZoneName: "short",
              hour12: false,
            })
          }
        </p>
      </div>
      <div class="h-5 w-full bg-sweater-4"></div>
    </section>

    <section>
      <div class="grid grid-cols-1 gap-6 xs:grid-cols-2">
        <p>
          Hi! Here I share interesting updates I've made to my personal site, <Link
            href="https://charleszw.com"
            target="_blank">charleszw.com</Link
          >. They're organized as a series of versioned releases.
        </p>
        <p class="subtitle">
          See <Link href="https://charleszw.com/posts/changelogs" target="_blank">this post</Link> for
          more context. Only the most recent release is shown. You can visit any older patch notes via
          the links below.
        </p>
      </div>
    </section>

    <ul
      class="grid grid-cols-3 gap-2 rounded-3xl bg-sweater-8 px-4 py-6 xs:grid-cols-4 xs:rounded-full xs:px-20 sm:grid-cols-5"
    >
      {
        releases.map(({ data: { version }, slug }) => (
          <li class="text-center">
            <Link href={`/v/${slug}`}>{version}</Link>
          </li>
        ))
      }
    </ul>

    <div class="relative flex flex-col">
      <ReleaseContent release={releases[0]} className="-translate-y-12" />

      <div class="border-t-thin flex flex-col gap-3 border-sweater-9 pt-12 xs:flex-row xs:gap-6">
        <div class="w-full xs:w-1/5">
          <h2>More releases</h2>
          <p class="subtitle">Previous changelog</p>
        </div>

        <a
          href={`/v/${previous.slug}`}
          class="group flex w-full items-center justify-between rounded-lg bg-sweater-9 p-4 transition-colors hover:bg-sweater-8 xs:w-4/5"
        >
          <div>
            <p
              class="font-mono font-[150] text-sweater-5 transition-colors group-hover:text-sweater-4"
            >
              {previous.data.version}
            </p>
            <p class="subtitle">
              Released
              {
                previous.data.date.toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                  timeZone: "America/New_York",
                })
              }
            </p>
          </div>

          <div
            aria-hidden="true"
            class="rounded-full bg-sweater-8 p-1 transition-colors group-hover:bg-sweater-7"
          >
            <ArrowRight
              class="shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-4"
            />
          </div>
        </a>
      </div>
    </div>
  </main>
</BaseLayout>
